doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://accounts.google.com/gsi/client',async, defer)
  body
    block content
    script(src='/javascripts/script.js')
